:root{ --main-color: #2E2F42;}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.header-navigation{
    display: flex;
    gap: 40px;

}

.header-navigation-logo{
    display: flex;
    align-items: center;
}

.header-contacts{
    margin-left: auto;
    display: flex;
    gap: 40px;
}

body{
    font-family: "Roboto", "Raleway" ;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.logo-span{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* NAVY BLUE */
    
    color: var(--main-color);
    padding-right: 76px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* IRIS */
    
    color: #4D5AE5;
    
}

.header-item{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-color);
}

.header-mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 

.header-tel{
font-weight: 400;
font-size: 16px;
line-height: 1.5;       
letter-spacing: 0.02em;
        color: #434455;
}
.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-color);
}

.header{
    background: #FFFFFF;
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-link:hover{
color: #4D5AE5;
}

.header-logo:hover{
    color: #4D5AE5;
}

.header-tel:hover{
    color: #4D5AE5;
}

.header-mail:hover{
    color: #4D5AE5;
}

.hero-info{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}

.hero{
    background: var(--main-color);   
flex-direction: column;
height: 600px;
padding-bottom: 188px;
padding-top: 188px;

}
.title{
font-weight: 500;
font-size: 56px;
line-height: 1.07;
margin-bottom: 48px; 
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.hero-btn{
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.section-wrap{
padding-top: 120px;
}

.wrap{
display: flex;
gap: 24px;


}

.about-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--main-color);
}

.about-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-top: 8px;

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}

.under-title{
padding-top: 120px;
}

.hero-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
display: flex;
margin-bottom: 72px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
justify-content: center;
color: var(--main-color);

}
.hero-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
margin-top: 32px;

text-align: center;
letter-spacing: 0.02em;
color: var(--main-color);
}

.img-wrap{
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.after_subtitle{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-top: 8px;
padding-bottom: 32px;
text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
.cover{
display: flex;
gap: 24px;  
}

.cover-container{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-img{
        background-color: #fff;
}

.footer{
    background: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}

.footer-ending{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 156px;
    letter-spacing: 0.02em;
    color: #E7E9FC;   
}

.portfolio-btn{
    background-color: #F4F4FD;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    /* IRIS */
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    cursor: pointer;
}

.portfolio-btn-blue{
    background-color: #404BBF;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    
    cursor: pointer;
}

.portfolio-btn-section{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 72px;
}


.portfolio-main{
    color: #E5E5E5;
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--main-color);
}

.portfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}

.portfolio-btn-blue:hover{
    color: #4D5AE5;
}

.portfolio-btn:hover{
    color: #4D5AE5;
}

.footer-logo{
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
padding-left: 156px;
margin-bottom: 16px;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;
}

.footer-logo-span{

color: #F4F4FD;

}

.portfolio-container{
    border: 0.5px solid #F4F4FD;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
 
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
}

.portfolio-img{
    display: block;
    max-width: 100%;
    height: auto;
}